/* ============================================
  CATALOG PAGE STYLES
  ============================================ */
main {
  width: 100%;
  max-width: none;
}
.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgba(217, 255, 0, 0) 0%,
    rgba(217, 255, 0, 0.5) 70%,
    rgba(217, 255, 0, 0.826) 100%
  );
  width: 100%;
  height: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.info-section-text {
  margin: 0;
  font-size: 48px;
  color: #000;
  font-weight: bold;
  display: grid;
  grid-column-end: 1;
}
